.blogAdded {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.logout {
    color: black;
    font-style: italic;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blogForm input::placeholder {
    font-style: italic;
    /*font-family: 'Courier New', Courier, monospace;*/
}

/* TÄMÄ LÖYTYY Blog.js */
/*
.blogTitle span {
    text-decoration: underline;
    font-weight: bold;
}
*/

.blogAuthor {
    font-style: italic;
    margin-right: 8px;
}